:root{
    --black: #121212;
    --first-gray: #3e3e3e;
    --second-gray: #515050;
    --text-color: #ffffff;
    --purple: #BB86FC;
    --base-opacity: 100%;
    --text-opacity: 80%;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, h4{
    color: var(--text-color);
    opacity: var(--text-opacity);
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
    font-weight: bolder;
}

h3{
    font-weight: bold;
}

h4{
    font-size: 15px;
    font-weight: normal;
}

.button-group{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 25px;
}

button{
    border-radius: 10px;
    background-color: var(--second-gray);
    padding: 10px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover{
    background-color: var(--first-gray);
}

button:active {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* ul{
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
} */

.progress-bar-outer{
    width: 100%;
    height: 8px;
    background-color: var(--second-gray);
    margin: 5px 0;
}

.progress-bar-inner{
    display: block;
    width: 75%;
    height: 8px;
    background-color: var(--purple);
}

.card{
    background-color: var(--first-gray);
    opacity: var(--base-opacity);
    min-height: 35px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.main-content-div{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-column-gap: 34px;
}

.current-feed{
    
}

.search-feed{

}

.friend-feed{

}


.content-div{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.nav-bar{
    height: 75px;
    width: 100%;
    background-color: var(--first-gray);
    opacity: var(--base-opacity);
}

input[type=text]{
    border-radius: 15px;
    height: 30px;
    width: 50%;
}

/* button{
    height: 35px;
    border-radius: 15px;
} */