body{
    padding: 50px;
}

.content-div{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

input[type=text]{
    border-radius: 15px;
    height: 30px;
    width: 50%;
}

button{
    height: 35px;
    border-radius: 15px;
}