.title-wrapper{
    /* display: block; */
    text-align: center;
    margin: 35px 0px;
}

.link-title-wrapper{
    text-align: left;
    margin: 35px 0px;
    color: var(--purple);
    cursor: pointer;
}

.sub-title-wrapper{
    margin: 25px 0px;
}

.center-text-wrapper{
    text-align: center;
}

.custom-episode-dropdown-wrapper{
    position: relative;
    display: inline-block;
}