button:hover, .button-div:hover{
    background-color: var(--first-gray);
}

button:active, .button-div:active{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

button, .button-div{
    border-radius: var(--border-radius);
    background-color: var(--second-gray);
    padding: 10px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 50px;
}